.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos-container li {
  background: #484e53;
}

.delete {
  cursor: pointer;
}
.alerta {
  align-items: flex-end;
}
.alert-danger {
  min-width: 20px;
  position: absolute;
  right: -0px;
  top: 10px;
}
.alert-success {
  min-width: 20px;
  position: absolute;
  right: -0px;
  top: 10px;
}
.alert-warning{
  min-width: 20px;
  position: absolute;
  right: -0px;
  top: 10px;
}
.fadeIn {
  animation: show-slide ease forwards;
}
@keyframes show-slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.fadeOut {
  animation: hide-slide ease forwards;
}
@keyframes hide-slide {
  0% {
    transform: translateX(-10%);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}
